{% extends "layout.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
    {% block page_js %}<script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/modify.js"></script>{% endblock %}

{% block title %}修改资料{% endblock %}




{% block main %}
<div id="modifyinfo">
    <div class="panel-heading"><h5>修改信息</h5></div>
<div class="panel-body" style="width: 500px">
    <form action="/backend/modify/" method="POST">
           <div class="form-group app_vm">
            <label>用户真实姓名</label>
            <input type="text" class=" form-control" width="500px" name="real_name" placeholder="用户真实姓名">
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control app_vm" name="email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <label>手机号</label>
            <input type="text" class="form-control" name="mobile" placeholder="手机号">
        </div>
        <div class="form-group">
            <label>新密码</label>
            <input type="password" class="form-control" name="user_password1" placeholder="新密码">
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input type="password" class="form-control" name="user_password2" placeholder="确认新密码">
        </div>
        <button type="submit" class="btn btn-primary tj">提交</button>
    </form>
    </div>
</div>
{% endblock %}